* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotham-Book', sans-serif;
}

:root {
  --orangeRed: #DE605B;
  --dark: #242931;
  --darkOpacity: rgba(36, 41, 49, 0.85);
  --lightDark: #363c46;
  --lightDarkOpacity: rgba(54, 60, 70, 0.85);
  --light: #DDDDDD;
  --today: #6e8191;
  --bigger: 768px;
}
/* SWEET ALERT */
body.swal2-shown > [aria-hidden='true'] {
  transition: 0.1s filter;
  filter: blur(10px);
}
.swal2-title {
  font-family: 'Gotham-Book', sans-serif;
  font-size: 40px;
  padding: 0;
}

/* ---------------- */
@font-face {
  font-family: 'Asgalt-Regular';
  src: url(./assets/fonts/Asgalt-Regular.ttf);
}
@font-face {
  font-family: 'Gotham';
  src: url(./assets/fonts/Gotham-Medium.otf);
}
@font-face {
  font-family: 'Gotham-Book';
  src: url(./assets/fonts/Gotham-Book.otf);
}

body {
  background-color: #242931;
  color: var(--light);
  width: 100vw;
}

h1 {
  font-family: 'Asgalt-Regular';
  font-size: 60px;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: fit-content;

}

button {
  border: none;
  font-size: 16px;
  letter-spacing: 1.5px;
}

input, select, textarea {
  border-radius: 5px;
  background-color: #e9e9f7;
  padding: 5px;
  color: #363c46;
  border: 1px solid #dadaf7;
}

input:focus-visible {
  outline: 1px solid #aeaed6;
}

input::-webkit-input-placeholder {
  color: #363c46;
}

input::-moz-placeholder {
  color: #363c46;
}

input:-ms-input-placeholder {
  color: #363c46;
}

input::-ms-input-placeholder {
  color: #363c46;
}

input::placeholder {
  color: #a1a1a2;
}


/* ----------- DATEPICKER ---------- */
.react-datepicker-wrapper {
  width: fit-content;
}

.react-datepicker {
  margin: 2rem 0;
  width: 90vw;
}
@media(min-width: 1024px) {
  .react-datepicker {
    width: 30rem;

  }
  
}

.react-datepicker__header {
  background: var(--dark);
}

.react-datepicker__current-month, .react-datepicker__day-name, .react-datepicker__day {
  color: var(--light);
  font-size: 1.1rem;

}
.react-datepicker__month-container {
  width: 100%;
  background: var(--lightDark);
}
.react-datepicker__day {
  width: 2.4rem;
  height: 2.4rem;
  padding-top: 0.4rem;
  margin: 0.25rem;
}
.react-datepicker__day--selected {
  color: #000;
  background: var(--light);
  /* har den här färgen när on hover #1d5d90 */

}
.react-datepicker__day-name {
  margin: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  padding-top: 0.4rem;
}

.react-datepicker__day--highlighted {
  background: var(--orangeRed);
  color: #000;
}

.react-datepicker__input-container input{
  width: 12rem;
}

