* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotham-Book', sans-serif;
}

:root {
  --orangeRed: #de605b;
  --dark: #242931;
  --darkOpacity: rgba(36, 41, 49, 0.85);
  --lightDark: #363c46;
  --light: #dddddd;
  --lightDarkOpacity: rgba(54, 60, 70, 0.85);
  --today: #6e8191;
}

@font-face {
  font-family: 'Asgalt-Regular';
  src: url(./assets/fonts/Asgalt-Regular.ttf);
}

@font-face {
  font-family: 'Gotham-Book';
  src: url(./assets/fonts/Gotham-Book.otf);
}

body {
  background-color: #242931;
  color: var(--light);
  width: 100%;
}

/* ----------HUR SER DET HÄR UT PÅ PC?---------- */

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light);
  border-radius: 25px;
}

h1 {
  font-family: 'Asgalt-Regular';
  font-size: 60px;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: fit-content;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  a:hover {
    transform: scale(1.15);
  }

  input:hover,
  select:hover,
  textarea:hover {
    background: var(--lightDark);
    color: var(--light);
  }
}

button {
  border: none;
  font-size: 16px;
  letter-spacing: 1.5px;
  height: 2.25rem;
  cursor: pointer;
  transition: 0.3s;
}

input,
select,
textarea {
  border-radius: 0.6rem;
  background-color: #e9e9f7;
  padding: 5px;
  color: #363c46;
  border: 1px solid #dadaf7;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 1px solid #aeaed6;
}

input::-webkit-input-placeholder {
  color: #363c46;
}

input::-moz-placeholder {
  color: #363c46;
}

input:-ms-input-placeholder {
  color: #363c46;
}

input::-ms-input-placeholder {
  color: #363c46;
}

input::placeholder,
textarea::placeholder {
  color: #a1a1a2;
}

/* ----------- DATEPICKER ---------- */

.react-datepicker-wrapper {
  width: fit-content;
}

.react-datepicker {
  margin: 2rem 0;
  margin: 0 auto;
  border-radius: 0.6rem;
  width: 100%;
}

.react-datepicker__input-container input {
  height: 2.5rem;
}

@media (min-width: 768px) {
  .react-datepicker {
    margin: 0;
    width: 30rem;
  }
}

.react-datepicker__header {
  background: var(--dark);
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: var(--light);
  font-size: 1.1rem;
}

.react-datepicker__month-container {
  width: 100%;
  background: var(--lightDark);
  border-radius: 0.6rem;
}

.react-datepicker__day {
  width: 2.4rem;
  height: 2.4rem;
  padding-top: 0.4rem;
  margin: 0.25rem;
  transition: 0.3s;
}

.react-datepicker__day:hover {
  background: var(--dark);
  color: var(--light);
}

.react-datepicker__day--today {
  border: 1px solid var(--light);
  border-radius: 0.3rem;
}

.react-datepicker__day--selected {
  color: #000;
  background: var(--light) !important;
}

.react-datepicker__day--selected:hover {
  border: 1px solid var(--light);
  background: var(--dark) !important;
}

.react-datepicker__day-name {
  margin: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  padding-top: 0.4rem;
}

.react-datepicker__day--highlighted {
  background: var(--orangeRed);
  color: #000;
}

.react-datepicker__input-container input {
  width: 12rem;
}

.react-datepicker-ignore-onclickoutside {
  height: 2.5rem;
}

/* ----------- Sweet Alerts ---------- */

/* .swal2-icon-content {
  color: var(--orangeRed);
} */

/* .swal2-icon {
  color: var(--orangeRed);
} */

/* .swal2-warning {
  color: var(--orangeRed);
} */

.swal2-shown {
  width: 100vw;
  overflow: hidden;
}

body.swal2-shown > [aria-hidden='true'] {
  transition: 0.1s filter;
  filter: blur(10px);
}

.swal2-title {
  display: grid;
  width: 100vw;
  font-family: 'Gotham-Book', sans-serif;
  font-size: 40px;
  padding: 0;
  color: var(--light);
}

.swal2-html-container {
  color: var(--light) !important;
}

.swal2-icon.swal2-warning {
  border-color: var(--light) !important;
}

.swal2-icon.swal2-question {
  border-color: var(--light) !important;
  color: var(--light);
}

.swal2-styled.swal2-confirm {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 1rem;
  border: var(--orangeRed) 1px solid;
  margin: 0.5rem;
  background: transparent;
  color: var(--light);
}

.swal2-styled.swal2-cancel {
  background-color: var(--orangeRed);
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  margin: 0.5rem;
}
